---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "文章";
const description = "文章列表";
const permalink = `${Astro.site?.href ?? ""}blog`;

let allPosts = await getCollection("posts");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.data.publishDate).valueOf() -
    new Date(a.data.publishDate).valueOf()
);
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="/blog"
>
  <div class="container">
    <h1>{title}</h1>
    {
      allPosts.map((post, index) => {
        const href = `/blog/${post.data.slug}`;
        return (
          <div>
            {index !== 0 && <hr class="my-15 mx-auto" />}
            <div class="post-item">
              <h2>
                <a href={href}>{post.data.title}</a>
              </h2>
              <p>{post.data.description}</p>
              <div class="font-sans font-bold">
                <span class="text-left uppercase mr-4 text-secondary">
                  — {post.data.publishDate.toLocaleDateString()}
                </span>
              </div>
            </div>
          </div>
        );
      })
    }
  </div>
</BaseLayout>
